page-product-detail {
    .highlight{
        color: color($colors, primary);
    }
    .card-md {
         margin: 0 !important;
         width: 100%; 
    }
    ion-card {
        ion-card-header{
            background-color: darken(color($colors, light), 10%);
            padding: 10px !important;
            font-weight: bold;
        }
        ion-card-content{
            background-color: $white;
            padding-top: 10px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-bottom: 10px !important;

            .item{
                background-color: transparent;
            }
        }
   }
    .spinner-related-items{
        margin-left: auto;
        margin-right: auto;
    }
    .product-slides{
        .swiper-wrapper{
            .swiper-slide{
                background-color: rgb(236,236,236);
            }
        }
        
    }
    .slides{
        .swiper-wrapper{
            .swiper-slide{
                padding-bottom: 5px;
            }
        }
    }
    .product-tags-top{
        position: absolute;
        top:10px;
        left:0;
        z-index: 9;

        .product-tag-new{
            color: $white;
            background-color:red;
            padding: 5px 8px;
            display: inline-block;
            margin-bottom: 4px;
        }
        .product-tag-featured{             
            background-color:cornflowerblue;
            color: $white;
            padding: 5px 8px;
        }
    }
    
    .icons{
        position: absolute;
        top: 10px;
        right: 0;
        background-color: color($colors, light);
        width: 70px;
        z-index: 9;
        direction: ltr;
        .icon{
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 22px;
            
            padding-left: 10px;
        }
        .icon[name="share"]{
            color: #bed13c;
        }
        .icon[aria-label="heart"], .icon[aria-label="heart outline"]{
            color: darken(color($colors, light), 20%);
        }
    }

    .product-detail-title{
        position: relative;
        
        // .product-off{
        //     @extend.product-new;
        //     background-color:cornflowerblue;
        //     left: 10px;
        //     padding-top: 2px;
        //     padding-bottom: 2px;
        //     top: -10px;
        // }
        .product-tags{
            position: absolute;
            left: 10px;
            top: -15px;
            z-index: 9;
            
            .product-tag-off{
                background-color: cornflowerblue;
                color: $white;
                padding: 5px 8px;
                margin-right: 4px;
                float: left;
            }
            .product-tag-featured{             
                background-color:cornflowerblue;
                color: $white;
                padding: 5px 8px;
                float: left;
            }
        }
    
        .woo-price-group{
            padding-top: 15px;
			padding-bottom:0;
    
            .woocommerce-Price-amount{
                font-size: 20px;
                font-weight: 600;
                color: color($colors, dark);
            }
    
            .woo-price{
                float: left;
                    del{
            
                        .woocommerce-Price-amount{
                            font-size: 16px;
                            color:darken(color($colors, light), 50%);
                            text-decoration: line-through; 
                        }
                    }
                    ins{
                        text-decoration: none;
                        .woocommerce-Price-amount{
                            margin-left: 5px;
                        }
                    }
            }
    
            .product-instock, .product-outstock{
                float: right;
                padding-top: 5px;
            }
            .product-instock{
                color:darken(color($colors, light), 50%);
            }
            .product-outstock{
                color: color($colors, danger);
            }
        }
        .product-title{
			padding-bottom:0;
            h3{
                color:darken(color($colors, light), 80%);
                font-size: 16px;
                margin-top:0;
                margin-bottom: 0;

                small{
                    font-size: 14px;
                    color: darken(color($colors, light), 40%);
                }
            }
            
        }
    }
    .product-detail-header{
        background-color:darken(color($colors, light), 2%);
        position: relative;
        
        .left, .right{
			padding-bottom:0;
            .col{
                display: flex;
                align-items: center;
            }
        }
        .left{
            .col{
                justify-content: flex-start;
            }
        }
        .right{
            .col{
                justify-content: flex-end;
            }
        }
		
		.qty-name{
			padding-top:0;
		}
        .qty-name, .ttl-name{
			padding-left:0;
			padding-bottom:0;
            text-transform: uppercase;
        }
		.ttl-vlue{
            font-weight: bold;
            font-size: 20px;
        }
        .qty-vlue, .ttl-vlue{
			padding-left:0;
		}
		
        .qty-vlue{

            .button{
                background-color: #6495ed;
                color:white;
                border-width: 0;
                margin: 0;
            }
            .dgi{
                min-width: 50px;
                background-color: white;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.20);
            }
        }
    }
    

    .page-product-detail{
        background-color: $white;

        .product-detail-content{
            
            h4{
                margin-top: 0;
                font-size: 17px;
            }
            p{
                margin-bottom: 0;
            }
            &.bing-fo{
                background-color: lighten(color($colors, primary), 45%);
            }
        }
        .list{
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 0;
            margin-top: 5px;
        }

        .product-tags{
            h4{
                margin-top: 0;
                margin-bottom: 10px;
            }

            span{
                h6{
                    color:darken(color($colors, light), 65%);
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                .badge{
                    background-color: darken(color($colors, light), 10%);
                    color:darken(color($colors, light), 50%);
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
            }
        }
        .group-product{
           
            ion-thumbnail{
                margin-top:10px !important;
            }
            .item{
                align-items: flex-start;
                border-bottom: 1px solid #dedede;
                background-color:darken(color($colors, light), 0.2%);
                .item-inner{
                    border-bottom: none;
                }
            }
            .item:last-child{
                border-bottom: none;
            }
            h3{
                color:darken(color($colors, light), 50%);
                font-size: 16px;
                margin-top:0;
                margin-bottom:5px;
            }
            .woo-price{
                float: left;
                    del{
            
                        .woocommerce-Price-amount{
                            font-size: 16px;
                            color:darken(color($colors, light), 50%);
                            text-decoration: line-through; 
                        }
                    }
                    ins{
                        text-decoration: none;
                        .woocommerce-Price-amount{
                            margin-left: 5px;
                        }
                    }
            }

            .qty-box-total{
                float: left;

                .left, .right{
					padding-bottom:0;
                    .col{
                        display: flex;
                        align-items: center;
                    }
                }
                .left{
                    padding-left: 0;
                    .col{
                        padding-left: 0;
                        justify-content: flex-start;
                    }
                }
                .right{
                    padding-right: 0;
                    .col{
                        padding-right: 0;
                        justify-content: flex-end;
                    }
                }
                .qty-name, .ttl-name{
                    font-size: 12px;
                    text-transform: uppercase;
                    padding-bottom:0; 
                }
                .ttl-vlue{
                    font-weight: bold;
                    font-size: 20px;
                }
                .qty-vlue{
        
                    .button{
                        background-color: #6495ed;
                        color:white;
                        border-width: 0;
                        margin: 0;
                    }
                    .dgi{
                        min-width: 50px;
                        background-color: white;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.20);
                    }
                }
            }
        }
    }
    .footer{
        .button{
            border-radius: 0;
            height: 45px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
	
	.product-ratings{
		    display: flex;
    align-items: center;
		min-height: 40px;
    max-height: 40px;
	}
    .product-rating{
        display:flex;
        align-items:center;
        justify-content:flex-start;
        
        .stars-outer {
         display: inline-block;
         position: relative;
         font-size: 25px;
         &::before {
          content: "\2606\2606\2606\2606\2606";
          color:#ccc;
         }
         .stars-inner {
          font-size: 25px;
          position: absolute;
          top: 0;
          left: 0;
          white-space: nowrap;
          overflow: hidden;
           
          &::before {
           content: "\2605\2605\2605\2605\2605";
           color: #f8ce0b;
          }
         }
        }
        h6{
         color:cornflowerblue;
         margin-left:15px;
		     margin-top: 7px;
    margin-bottom: 6px;
        }
       }
       .animate {
        animation: bounceInRight 0.75s;
    }
}
