<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{'Wish List'| translate }}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="page-wish-list">
	<ion-grid class="page-empty" *ngIf="shared.wishListProducts.length == 0" [@animate]>
    <ion-row align-items-center>
      <ion-col col-12>
        <h3 text-center>
          <ion-icon name="heart"></ion-icon>
        </h3>
        <h4 text-center>{{'Your Wishlist is empty'|translate}}</h4>

        <p text-center>
          <button ion-button color="secondary" (click)="openProductsPage()">{{'Explore'|translate}}</button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-col col-6 *ngFor="let p of shared.wishListProducts" [@animate]>
      <product [data]="p" [type]="'wishList'"></product>
    </ion-col>


  </ion-grid>
</ion-content>