footer {
	.toolbar{
		
		.segment{
			.segment-button {
				border-bottom-color:transparent;
				overflow: visible;
				.icon{
					font-size: 2.6rem;
					line-height: 3rem;
					// font-size:20px;
					// display:flex;
					// justify-content:center;
					// align-items:center;
					img{
						width:2.6rem;
					}
				}
				.footer-title{
					display:flex;
					justify-content:center;
					line-height:normal;
					margin-top:-13px;
				}
			}
			.segment-button.segment-activated{
				color:color($colors, secondary);
			}
		}
	}
}
// ion-icon[item-left]{
// 	/*background-color:color($colors, light);*/
// 	font-size:20px;
// 	display:flex;
// 	justify-content:center;
// 	align-items:center;
// 	height:35px;
// 	width:35px;
// 	padding:5px;
// 	border-radius:200px;
	
// 	img{
// 		width:100%;
// 	}
// }