page-home4{
    .page-home4{
        
        .categories-grid{
            padding: 10px;
			
            h3{
                margin-top:0;
                margin-bottom:10px;
                font-size: 1.8rem;
            }
            .col{
                padding:0.5px;
				
                .card {
					background-color:$white;
                    width: calc(100% - 0px);
                    position: relative;
					padding:15px;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-top:0;
				 	border-radius: 0;
					box-shadow:none;
					text-align: center;
            		
					.category-icon{
						height: 80px;
						width: 80px;
						margin-left: auto;
						margin-right: auto;
						border-radius:200px;
						overflow:hidden;
						
						img{

						}
					}
					.cateogry-content{
						margin-top:10px;
						
						.categories-title {
							font-size: 1.0em;
							font-weight: bold;
							color:#000;
						}
					
						.categories-subtitle {
							font-size: 0.8em;
							color: #747474;
						}
					}
                    
                }
            }
        }
		.modules{
			padding-left:5px;
			padding-right:5px;
		}
        .module{
            h3{
                margin-top: 10px;
                margin-bottom: 0;
                padding-left: 5px;
                padding-right: 5px;
                font-size: 1.8rem;
				
				small{
					float:right;
					color:color($colors, secondary);
				}
            }
            .slides{
                .swiper-slide{
					padding-left:5px;
					padding-right:5px;
					
                    .slide-zoom{
                        margin-top: 10px;
                        margin-bottom: 10px;
                        text-align: initial;
                        product{
                            display: block;
                        }
                    }
                }
                .swiper-slide-last{
                    padding-top: 15%;
                    
                    .slide-zoom{
 

                        .card{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: calc(100% - 0px);
                            margin-right: 0 !important;
                            margin-left: 0 !important;
                            margin-top: 0 !important;
                            margin-bottom: 0 !important;
                            box-shadow: none;
							
							.card-content{
								text-align:center;
								.icon{
									color: color($colors, accent-color);
									font-size:50px;
								}
							}
                        }
                    }
                }
            }
        }
    }
    .animate-product {
        animation: bounceInRight 0.75s;
    }
}