<ion-header>

  <ion-navbar>
    <ion-title>
      {{'Sub Categories'| translate }}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content text-center>
  <ion-list>
    <div *ngFor="let c of shared.subCategories" (click)="openProducts(c.id,c.name)" class="animated flipInX">
      <ion-item *ngIf="c.parent==parent">
        <ion-thumbnail item-start>
          <img *ngIf="c.image" src="{{c.image.src}}">
        </ion-thumbnail>
        <h2>{{c.name}}
          <br>
          <small>{{c.count}} {{'Products'| translate }} </small>
        </h2>
      </ion-item>
    </div>
  </ion-list>
  <button ion-button icon-end color="secondary" (click)="openParentProducts()">{{ 'View All' | translate }}
    <ion-icon name="ios-arrow-dropright-circle-outline"></ion-icon>
  </button>
</ion-content>